.wrapper {
  width: 100%;
  height: 100%;
}

.fullscreen-overlay {
  position: fixed;
  z-index: 9002;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contained-overlay {
  position: relative;
  z-index: 9002;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  line-height: 30%;
}
