<div class="fetch-example-container">
  <button
    #buttonElement
    class="btn-primary"
    [ngStyle]="{'height.px': this.buttonHeight, 'width.px': this.buttonWidth}"
    (click)="performAsyncAction()"
  >
    <mat-spinner
      *ngIf="showButtonLoader"
      diameter=25
      color="accent"
    ></mat-spinner>
    <p
      *ngIf="!showButtonLoader">
      {{label}}
    </p>
  </button>
</div>

<app-fullscreen-loader-overlay
  [isLoading]="showOverlayLoader"
  [loadingHeader]="loadingHeader"
  [loadingMessage]="loadingMessage"
></app-fullscreen-loader-overlay>
